<% include ../partials/head %>
<% include ../partials/header %>


  <div class="hero">
    <div class="hero-text">
      Har du problem med vardagspusslet? <br>
      D책 har du kommit r채tt!
      <%# <a class="waves-effect waves-light btn-large" href="/signUp"><i class="material-icons right">cloud</i>Skapa Konto</a>
      <a class="waves-effect waves-light btn-large" href="/login"><i class="material-icons right">cloud</i>Logga In</a>%>
    </div>
  </div>

  <section class="quickInfo">
    <div class="row">

    <div class="col s12 m4">
      <img src="../images/calendar.svg" alt="">
      <h5>Schemal채ggning</h5>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
    </div>

    <div class="col s12 m4">
      <img src="../images/cash.svg" alt="">
      <h5>Pengar</h5>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
    </div>

    <div class="col s12 m4">
      <img src="../images/chart.svg" alt="">
      <h5>Statistik</h5>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
    </div>
  </div>

  <a class="waves-effect waves-light btn-large" href="/signup"><i class="material-icons right">send</i>Kom ig책ng nu!</a>


  </section>

  <% include ../partials/footer %>
